![ERD diagram](erd_image.png)

## Imports and Making connection

In [1]:
from sqlalchemy.engine import create_engine
from sqlalchemy import text

import pymysql
pymysql.install_as_MySQLdb()

# for password format correction
from urllib.parse import quote_plus
import pandas as pd

In [2]:
# Create connection string using credentials following this format
username = "root"
password = quote_plus("********") # ******** # Using the quote function to make the password compatible
db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

## Creations And Insertions

### The Authors table

In [4]:
with engine.connect() as conn:
    q = """
    CREATE TABLE `authors` (
      `id` int NOT NULL,
      `author_name` varchar(60) DEFAULT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
    """
    conn.execute(q)

/var/folders/g9/xdtcm3vn55d8mn_t6jyryt9m0000gn/T/ipykernel_1401/3507034828.py:9: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute(q)

In [5]:
with engine.connect() as conn:
    q = """
    INSERT INTO `authors` VALUES (1,'Stephen King'),(2,'F.Scott Fitgerald'),(3,'Jack London'),(4,'Jane Austen'),(5,'Mary Shelley');
    """
    conn.execute(q)

### The Books table

In [6]:
with engine.connect() as conn:
    q = """
    CREATE TABLE `books` (
      `id` int NOT NULL,
      `title` varchar(45) DEFAULT NULL,
      `author_id` int NOT NULL,
      PRIMARY KEY (`id`),
      KEY `fk_book_author1_idx` (`author_id`),
      CONSTRAINT `fk_book_author1` FOREIGN KEY (`author_id`) REFERENCES `authors` (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
    """
    conn.execute(q)

In [7]:
with engine.connect() as conn:
    q = """
    INSERT INTO `books` VALUES (1,'The Shining',1),(2,'It',1),
    (3,'The Great Gatsby',2),(4,'The Call of the Wild',3),
    (5,'Pride and Prejudice',4),(6,'Frankenstein',5);
    """
    conn.execute(q)

### The Users table

In [8]:
with engine.connect() as conn:
    q = """
    CREATE TABLE `users` (
      `id` int NOT NULL,
      `first_name` varchar(30) DEFAULT NULL,
      `last_name` varchar(30) DEFAULT NULL,
      `email` varchar(60) DEFAULT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
    """
    conn.execute(q)

In [9]:
with engine.connect() as conn:
    q = """
    INSERT INTO `users` VALUES (1,'John','Doe','JD@books.com'),(2,'Robin','Smith','Robin@books.com'),
    (3,'Gloria','Rodriguez','grodriquez@books.com');
    """
    conn.execute(q)

### The Favorites table

In [10]:
with engine.connect() as conn:
    q = """
    CREATE TABLE `favorites` (
      `user_id` int NOT NULL,
      `book_id` int NOT NULL,
      KEY `fk_favorite_user1_idx` (`user_id`),
      KEY `fk_favorite_book1_idx` (`book_id`),
      CONSTRAINT `fk_favorite_book1` FOREIGN KEY (`book_id`) REFERENCES `books` (`id`),
      CONSTRAINT `fk_favorite_user1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
    """
    conn.execute(q)

In [11]:
with engine.connect() as conn:
    q = """
    INSERT INTO `favorites` VALUES (1,1),(1,2),(1,3),(2,4),(2,5),(3,5),(3,6);
    """
    conn.execute(q)

## Testing

In [12]:
q = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""
pd.read_sql(text(q), engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1